# .env.example
SECRET_KEY=your_secret_key_here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
APP_SUBPATH=biztools
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
CONTACT_EMAIL=your@email.com

# Database
POSTGRES_ENGINE=django.db.backends.postgresql
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=business_tools_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Email (optional)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Celery
CELERY_BROKER_URL=redis://localhost:6379
CELERY_RESULT_BACKEND=redis://localhost:6379

# invoices genai (Invoice analyse)
gemini_api = your_api_key
