asgiref==3.11.1
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
Django==6.0.3
django-allauth==65.16.1
django-dbbackup==5.2.0
dotenv==0.9.9
et_xmlfile==2.0.0
gunicorn==25.1.0
idna==3.13
joblib==1.5.3
jwt==1.4.0
numpy==2.4.3
openpyxl==3.1.5
packaging==26.0
pandas==3.0.1
psycopg2==2.9.11
psycopg2-binary==2.9.11
pycparser==3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.33.1
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
sqlparse==0.5.5
threadpoolctl==3.6.0
tzdata==2025.3
urllib3==2.7.0
