<!DOCTYPE html>
<html lang="el">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Tools</title>
    <link rel="stylesheet" href="style.css">
    <!-- We add an empty block, to load another style.css when the page is requested.(check invoices app) -->
    <!-- {% block extra_css %}{% endblock %} -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=YOUR_GA_ID"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z2NR670TKQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-Z2NR670TKQ');
    </script>
</head>

<body>
<nav role="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" id="menuCheckbox" />
    
    <!--
    Some spans to act as a hamburger.
    
    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>
    
    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
      <!-- 
      We can use a label here to close upon click (when doing same page navigation), this
      does require a slight bit of JS.
      -->
      <li>
        <a href="#">
          <label for="menuCheckbox" onclick="this.parentNode.click();">Home</label>
        </a>
      </li>
      <li>
        <a href="#about">
          <label for="menuCheckbox" onclick="this.parentNode.click();">About</label>
        </a>
      </li>
      
      <!-- These just close the menu -->
      <li><label for="menuCheckbox"><a>Info</a></label></li>
      <li><label for="menuCheckbox"><a>Contact</a></label></li>
      
      <!-- Or just use regular URLs -->
      <li>
        <a href="https://erikterwan.com/" target="_blank">Show me more</a>
      </li>
    </ul>
  </div>
</nav>
<main>
    <h1>sdfs</h1>

</main>

<footer>

</footer>

    <!-- <div class="nav-container">
        <nav>
            <input class="hamb-checkbox" type="checkbox" id="checkbox" />
            <label class="hamb-label" for="checkbox">
                <span class="line1 hamb-line"></span>
                <span class="line2 hamb-line"></span>
                <span class="line3 hamb-line"></span>
            </label>
            <a href="{% url 'income_expenses:index' %}" class="nav-brand">BizTools</a>
            <ul class="nav-links">
                <li><a href="{% url 'income_expenses:index' %}" class="btn btn-secondary">Αρχική</a></li>
                <li>
                    <form method="get" action="{% url 'income_expenses:index' %}">
                        <select name="store" onchange="this.form.submit()">
                            {% for s in stores_list %}
                            <option value="{{ s.id }}" {% if s==current_store %}selected{% endif %}>{{ s.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </form>
                </li>
                <li><a href="{% url 'income_expenses:prediction_with_ml' %}" class="btn btn-secondary">Πρόβλεψη
                        Εισοδημάτων</a></li>
                <li><a href="{% url 'income_expenses:load_old_data' %}" class="btn btn-secondary">Εισαγωγή Δεδομένων</a>
                </li>
                <li><a href="{% url 'income_expenses:export_data' %}?store={{ store.id }}"
                        class="btn btn-secondary">Εξαγωγή
                        σε Excel</a></li>
                <li><a href="{% url 'income_expenses:submit_income' %}" class="btn-income btn btn-sm">+ Έσοδο</a></li>
                <li><a href="{% url 'income_expenses:submit_expense' %}" class="btn-expense btn btn-sm">+ Έξοδο</a></li>
                <li><a href="{% url 'income_expenses:fixed_expenses' %}" class="btn-expense btn btn-sm">Πάγια Έξοδα</a>
                </li>
                <li><a href="{% url 'invoices:invoice_reader' %}" class="btn-expense btn btn-sm">Τιμολόγιο</a></li>
                <li><a href="{% url 'ai_assistant:chat' %}" class="btn-expense btn btn-sm">Βοηθός ΑΙ</a></li>
                <li><a href="{% url 'income_expenses:analytics' %}" class="btn btn-secondary">Αναλυτικά</a></li>
                <li><a href="{% url 'income_expenses:stores' %}" class="btn btn-secondary">Καταστήματα</a></li>
            </ul>
        </nav>
    </div>
    {% if user.is_authenticated %}
    <li><span class="user-auth">{{ user.username }}</span></li>
    <li>
        <form method="post" action="{% url 'logout' %}" class="logout">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary btn-sm">Αποσύνδεση</button>
        </form>
    </li>
    {% else %}
    <li><a href="{% url 'login' %}">Σύνδεση</a></li>
    {% endif %}
    {% if messages %}
    {% for message in messages %}
    <div
        class="login-messages {% if message.tags == 'error' %}login-messages-error{% else %}login-messages-success{% endif %}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <footer>
        <a href="{% url 'income_expenses:privacy_policy' %}">Πολιτική Απορρήτου</a>
        <br>
        <a href="{% url 'accounts:delete_account' %}">Διαγραφή λογαριασμού</a>
    </footer> -->
</body>

</html>