:root {
    --bg: rgba(0, 200, 120, 0.55);
    --bg2: rgba(0, 150, 90, 0.35);
    /* --bg3: rgba(10, 14, 18, 0.2);  too dark*/
    --bg3: rgba(255, 255, 255, 0.415);
    --purple1: #65358A;
    --purple2: #43245C;
    --green1: #1D6B50;
    --green2: #164A3A;
    --gray: #92989F;
}

/* NAV */
body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background-color: #0a0e12; /* το πολύ σκούρο background γύρω γύρω */
  background-image: radial-gradient(
    circle at center,
    var(--bg) 0%,   /* πράσινο στο κέντρο */
    var(--bg2) 25%,  /* σταδιακά πιο αχνό */
    var(--bg3) 80%      /* διαλύεται στο σκοτεινό background */
  );
  min-height: 100vh;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

nav {
  overflow: auto;
}
nav ul {
  display: none;
}
nav .burger-label {
  position: relative;
  width: auto;
  cursor: hand;
  float: right;
  padding: 20px;
}
nav .line {
  background: white;
  display: block;
  height: 2px;
  position: absolute;
  width: 24px;
  transition: all 0 1s ease;
}
nav .line1 {
  top: 10px;
}
nav .line2 {
  top: 18px;
}
nav .line3 {
  top: 26px;
}
#checkbox {
  display: none;
}

#checkbox:checked ~ label {
  background-color: green;
  border: 2px solid black;
}