:root {
    --bg: rgba(0, 200, 120, 0.55);
    --bg2: rgba(0, 150, 90, 0.35);
    /* --bg3: rgba(10, 14, 18, 0.2);  too dark*/
    --bg3: rgba(255, 255, 255, 0.415);
    --purple1: #65358A;
    --purple2: #43245C;
    --green1: #1D6B50;
    --green2: #164A3A;
    --gray: #92989F;
}

/* NAV */
body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background-color: #0a0e12; /* το πολύ σκούρο background γύρω γύρω */
  background-image: radial-gradient(
    circle at center,
    var(--bg) 0%,   /* πράσινο στο κέντρο */
    var(--bg2) 25%,  /* σταδιακά πιο αχνό */
    var(--bg3) 80%      /* διαλύεται στο σκοτεινό background */
  );
  min-height: 100vh;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

nav {
  overflow: auto;
}
nav ul {
  display: none;
}
nav .burger-label {
  position: relative;
  width: 64px;
  cursor: hand;
  float: left;
  padding: 20px;
  display: flex;
  flex: row;
}
nav .line {
  background: white;
  display: block;
  height: 2px;
  position: absolute;
  width: 24px;
  transition: all 0 1s ease;
}
nav .line.line1 {
  top: 10px;
}
nav .line.line2 {
  top: 18px;
}
nav .line.line3 {
  top: 26px;
}
.burger-checkbox {
  display: none;
}
nav .burger-checkbox:checked ~ ul {
  display: flex;
  height: 100%;
  clear: left;
}
nav .burger-checkbox:checked ~ .burger-label .line1 {
  transform: rotate(45deg);
  top: 18px;
}
.burger-checkbox:checked ~ .burger-label .line2 {
  background-color: transparent;
}
.burger-checkbox:checked ~ .burger-label .line3 {
  transform: rotate(-45deg);
  top: 18px;
}
/* when it's not collapsed */
nav {
  background-color: var(--bg1);
}
nav ul {
  flex-direction: column;
  align-items: center;
  margin: 10px;
  list-style-type: none;
  padding: 0;
  width: 40%;
}
nav ul li {
  margin: 0 10px;
  padding: 0 10px;
  width: 50%;
  height: 40px;
  display: flex;
  align-items: left;
  justify-content: left;
  background-color: var(--bg1);
  color: var(--purple2)
}
nav ul li a {
  text-decoration: none;
  display: block;
  color: inherit;
}
nav ul li:hover {
  background-color: var(--gray);
}
nav ul li:active {
  background-color: red;
}
@media screen and (min-width: 1000px) {
  nav .burger-label {
    display: none;
  }
  nav ul {
    display: flex;
  }
  
}