{% extends 'income_expenses/base.html' %}
{% block body %}

<a href="{% url 'income_expenses:index' %}" onclick="history.back(); return false;" class="btn-gray-b">←Πίσω</a>
<div class="analytics">
    <!-- Filter -->
    <div class="period-selection">
        <h2>Επιλογή Περιόδου</h2>
        <form method="GET" action="{% url 'income_expenses:analytics' %}">
            <div class="form-grid">
                <div class="standard-form">
                    <label>Ημερομηνία Έναρξης</label>
                    <input type="date" name="start_date" value="{{ start_date }} class=" date-input date-from">
                </div>
                <div class="standard-form">
                    <label>Ημερομηνία Λήξης</label>
                    <input type="date" name="end_date" value="{{ end_date }}" class="date-input date-to">
                </div>
            </div>
            <div class="presets">
                <a href="?start_date={{ quick_filters.this_year.from|date:'Y-m-d' }}&end_date={{ quick_filters.this_year.to|date:'Y-m-d' }}"
                    class="btn-gray-b">Τρέχον Έτος</a>
                <a href="?start_date={{ quick_filters.last_year_same_period.from|date:'Y-m-d' }}&end_date={{ quick_filters.last_year_same_period.to|date:'Y-m-d' }}"
                    class="btn-gray-b">Ίδια Περίοδος Πέρυσι</a>
            </div>
            <button type="submit" class="btn-gray">Εφαρμογή</button>
        </form>
    </div>
    <div class="dates-inform">Αποτελέσματα για:
        <span>{{ start_date }} - {{ end_date }}</span>
    </div>
    <div class="analyse-card">
        <div class="heading">Ανάλυση Εσόδων</div>
        <div class="analyse">
            <div>
                <span class="label">Μετρητά:</span>
                <span class="value">{{ income_totals.total_cash }} €</span>
            </div>
            <div>
                <span class="label">POS:</span>
                <span class="value">{{ income_totals.total_pos }} €</span>
            </div>
            <div>
                <span class="label">Κατάθεση:</span>
                <span class="value">{{ income_totals.total_deposit }} €</span>
            </div>
            <div>
                <span class="label">Επιταγή:</span>
                <span class="value">{{ income_totals.total_check }} €</span>
            </div>
            <div>
                <span class="label">Άλλο:</span>
                <span class="value">{{ income_totals.total_other }} €</span>
            </div>
        </div>
    </div>


    <div class="summary-cards">
        <div class="gray-form">
            <h3>Σύνολο Εσόδων</h3>
            <p class="positive amount">{{ sum_income_result }} €</p>
        </div>
        <div class="gray-form">
            <h3>ΦΠΑ Εσόδων</h3>
            <p class="positive amount">{{ fpa_income_tax|floatformat:2 }} €</p>
        </div>
        <div class="gray-form">
            <h3>Σύνολο Εξόδων</h3>
            <p class="negative amount">{{ sum_expenses_result }} €</p>
        </div>
        <div class="gray-form">
            <h3>ΦΠΑ Εξόδων</h3>
            <p class="negative amount">{{ fpa_expenses_tax|floatformat:2 }} €</p>
        </div>
        <div class="gray-form">
            <h3>Καθαρό Αποτέλεσμα</h3>
            <p class="amount {% if net_result >= 0 %}positive{% else %}negative{% endif %}">
                {{ net_result|floatformat:2}} €</p>
        </div>
        <div class="gray-form">
            <h3>Μέγιστο ποσό είσπραξης</h3>
            <p class="neutral amount">{{ income_max|floatformat:2 }} €</p>
        </div>
        <div class="gray-form">
            <h3>Ελάχιστο ποσό είσπραξης</h3>
            <p class="neutral amount">{{ income_min|floatformat:2 }} €</p>
        </div>
        <div class="gray-form">
            <h3>Μέσος όρος ημέρας</h3>
            <p class="neutral amount">{{ income_average|floatformat:2 }} €</p>
        </div>
        <div class="gray-form">
            <h3>Περιθώριο Μικτού Κέρδους</h3>
            <p class="amount {% if gross_profit_margin >= 20 %}positive{% else %}negative{% endif %}">
                {{ gross_profit_margin|floatformat:2 }} %</p>
        </div>
        <div class="gray-form">
            <h3>Περιθώριο Καθαρού Κέρδους</h3>
            <p class="amount {% if net_profit_margin >= 0 %}positive{% else %}negative{% endif %}">
                {{ net_profit_margin|floatformat:2 }} %</p>
        </div>
    </div>
</div>

<!-- Charts  -->
<div class="charts-grid">
    <div class="chart-card">
        <h3>Συνολικό Εισόδημα</h3>
        {{ chart | safe }}
    </div>
    <div class="chart-card">
        <h3>Ανάλυση ανά Ημέρα</h3>
        {{ chart2 | safe }}
    </div>
</div>

<div class="charts-grid">
    <div class="chart-card">
        <h3>Έσοδα - Έξοδα</h3>
        {{ chart3 | safe }}
    </div>
    <div class="chart-card">
        <h3>Τρόποι Πληρωμής</h3>
        {% if chart4 %}
        {{ chart4 | safe }}
        {% else %}
        <p class="no-data">Δέν υπάρχουν δεδομένα</p>
        {% endif %}
    </div>
</div>

{% if chart5 %}
<div class="chart-card full-width">
    <h3>Ποσοστό Εισπράξεων ανά Ημέρα</h3>
    {{ chart5 | safe }}
</div>
{% endif %}

<!-- Data Table -->
<div class="analytics-card-table">
    <h2>Λεπτομέρειες</h2>
    <div class="analytics-details income-details">
        <h3>Έσοδα</h3>
        <div class="details-income-table-header">
            <span>Ημερομηνία</span>
            <span>Σύνολο</span>
            <span>Μετρητά</span>
            <span>POS</span>
            <span>Κατάθεση</span>
            <span>Επιταγή</span>
            <span>Άλλο</span>
        </div>
        {% for income in income_result %}
        <a href="{% url 'income_expenses:detail' income.id %}">
            <div class="details-income-table">
                <span>{{ income.day }}</span>
                <span><strong>{{ income.income_sum }}</strong></span>
                <span>{{ income.income_cash }}</span>
                <span>{{ income.income_pos }}</span>
                <span>{{ income.income_deposit }}</span>
                <span>{{ income.income_check }}</span>
                <span>{{ income.income_other }}</span>
            </div>
        </a>
        {% empty %}
        <span class="nodata">Δέν υπάρχουν δεδομένα</span>
        {% endfor %}
    </div>
    <div class="analytics-details expenses-details">
        <h3>Έξοδα</h3>
        <div class="details-expense-table-header">
            <span>Ημερομηνία</span>
            <span>Έξοδα</span>
        </div>
        {% for expense in expenses_result %}
        <a href="{% url 'income_expenses:expenses_detail' expense.id %}">
            <div class="details-expense-table">
                <span>{{ expense.day }}</span>
                <span><strong>{{ expense.amount }}</strong></span>
            </div>
        </a>
        {% empty %}
        <span class="nodata">Δέν υπάρχουν δεδομένα</span>
        {% endfor %}
    </div>
</div>

<!-- dataframe on the html page -->
<!-- {{ df_html | safe }} -->

{% endblock %}