{% extends 'income_expenses/base.html' %}
{% block body %}

<form method="GET" action="{% url 'income_expenses:analytics' %}">
    <input type="date" name="start_date" value="{{ start_date }}">
    <input type="date" name="end_date" value="{{ end_date }}">
    <button type="submit">Εφαρμογη</button>
</form>

<div>
    <p>Έσοδα</p>
    {{ sum_income_result }}
    <p>Έξοδα</p>
    {{ sum_expenses_result }}
    <p>Καθαρό Αποτέλεσμα</p>
    {{ net_result }}

</div>
<div>
    <p>Έσοδα Αναλυτικά</p>
    <div>
        <p>Μετρητά</p>
        {{ income_totals.total_cash }}
    </div>
    <div>
        <p>POS</p>
        {{ income_totals.total_pos }}
    </div>
        <div>
        <p>POS</p>
        {{ income_totals.total_deposit }}
    </div>
        <div>
        <p>POS</p>
        {{ income_totals.total_check }}
    </div>
        <div>
        <p>POS</p>
        {{ income_totals.total_other }}
    </div>

    
</div>
<div>
    <p>Συνολικό Εισόδημα</p>
    {{ chart | safe }}
</div>
<div>
    <p>Αναλυση ανα ημέρα τρόπου πληρωμής</p>
    {{ chart2 | safe }}
</div>
<div>
    <p>Έσοδα - Έξοδα</p>
    {{ chart3 | safe }}
</div>
<div>
    {% if chart4 %}
    <p>Ποσοστό χρήσης τρόπων πληρωμής</p>
    {{ chart4 | safe }}
    {% else %}
    <p>Δέν υπάρχουν δεδομένα</p>
    {% endif %}
</div>
<div>
    {% if chart5 %}
    <p>Ποσοστό Εισπράξεων ανα ημέρα</p>
    {{ chart5 | safe }}
    {% else %}
    <p>Δέν υπάρχουν δεδομένα</p>
    {% endif %}
</div>
<!-- <div>
    <p>Εμφάνιση Αναλυτικά</p>
    {{ income_df_html | safe }}
</div> -->
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Cash</th>
            <th>POS</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for income in income_result %}
        <tr>
            <td>{{ income.day }}</td>
            <td>{{ income.income_cash }}</td>
            <td>{{ income.income_pos }}</td>
            <td>{{ income.income_sum }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}