{% load static %}

<!DOCTYPE html>
<html lang="el">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Tools</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="{% static 'income_expenses/css/style.css' %}">
    <!-- We add an empty block, to load another style.css when the page is requested.(check invoices app) -->
    {% block extra_css %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'income_expenses/favicon-32x32.png' %}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=YOUR_GA_ID"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z2NR670TKQ"></script>
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <div class="menu-container">
                    <input class="burger-checkbox" type="checkbox" id="checkbox">
                    <label class="burger-label" for="checkbox">
                        <span class="line1 line"></span>
                        <span class="line2 line"></span>
                        <span class="line3 line"></span>

                    </label>
                    <ul class="standard-menu">
                        <li>
                            <h1>Biztools</h1>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <form method="get" action="{% url 'income_expenses:index' %}">
                                <select name="store" onchange="this.form.submit()">
                                    {% for s in stores_list %}
                                    <option value="{{ s.id }}" {% if s == current_store %}selected{% endif %}>{{ s.name }}
                                    </option>
                                    {% endfor %}
                                    {% endif %}

                                </select>
                            </form>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="username"><a href="{% url 'income_expenses:stores' %}">{{ user.username }}</a></li>

                        <li>
                            <form method="post" action="{% url 'logout' %}" class="logout">
                                {% csrf_token %}
                                <button type="submit">Αποσύνδεση</button>
                            </form>
                        </li>
                        {% else %}
                        <li class="connect-button"><a href="{% url 'login' %}">Σύνδεση</a></li>
                        {% endif %}
                        {% if messages %}
                        <div class="message-container">
                            {% for message in messages %}
                            <div class="alert alert-message-{{ message.tags }}">
                                {{ message }}
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </ul>
                </div>

                <ul class="burger">
                    <li>
                        <a href="{% url 'income_expenses:index' %}">
                            <label for="menuCheckbox" onclick="this.parentNode.click();">Αρχική</label>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'income_expenses:analytics' %}">
                            <label for="menuCheckbox" onclick="this.parentNode.click();">Αναλυτικά</label>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'income_expenses:prediction_with_ml' %}">
                            <label for="menuCheckbox" onclick="this.parentNode.click();">Πρόβλεψη
                                Εισοδημάτων</label>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'income_expenses:load_old_data' %}">
                            <label for="menuCheckbox" onclick="this.parentNode.click();">Εισαγωγή
                                Δεδομένων</label>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'income_expenses:export_data' %}">
                            <label for="menuCheckbox" onclick="this.parentNode.click();">Εξαγωγή
                                σε Excel</label>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'income_expenses:fixed_expenses' %}">
                            <label for="menuCheckbox" onclick="this.parentNode.click();">Πάγια
                                Έξοδα</label>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'invoices:invoice_reader' %}">
                            <label for="menuCheckbox" onclick="this.parentNode.click();">Tιμολόγιο</label>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'ai_assistant:chat' %}">
                            <label for="menuCheckbox" onclick="this.parentNode.click();">Βοηθός ΑΙ</label>
                        </a>
                </ul>
            </nav>
        </header>
    </div>

    <main>

        {% block body %}{% endblock %}

    </main>

    <footer>
        Biztools
        <a href="{% url 'income_expenses:privacy_policy' %}">Πολιτική Απορρήτου</a>
        <br>
        <a href="{% url 'accounts:delete_account' %}">Διαγραφή λογαριασμού</a>
    </footer>
</body>

</html>