{% extends 'income_expenses/base.html' %}
{% block body %}
<div class="expense-form">
    <div class="expense-header">
        <div>
            <h1>Επεξεργασία Εξόδου</h1>
        </div>
        <a href="{% url 'income_expenses:index' %}" onclick="history.back(); return false;" class="btn-gray-b">←
            Πίσω</a>
    </div>

    <div class="expense-card">
        <form method="POST">
            {% csrf_token %}
            <div class="form-grid">
                <div class="standard-form">
                    <label>Κατάστημα</label>
                    {{ form.store }}
                </div>
                <div class="standard-form">
                    <label>Ημερομηνία</label>
                    {{ form.day }}
                </div>
                <div class="standard-form">
                    <label>Ποσό (€)</label>
                    {{ form.amount }}
                </div>
                <div class="standard-form">
                    <label>Κατηγορία</label>
                    {{ form.category }}
                </div>
                <div class="full-form">
                    <label>Σχόλια</label>
                    {{ form.comments }}
                </div>
            </div>
            <div class="form-footer">
                <button type="submit" class="btn-green">Αποθήκευση</button>
                <a href="{% url 'income_expenses:index' %}" class="btn-purple">Ακύρωση</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}