{% extends 'income_expenses/base.html' %}
{% block body %}

<div class="expense-header">
    <div>
        <h1>Λεπτομέρειες Εξόδου</h1>
        <p>{{ expense_detail.day|date:"d/m/Y" }}</p>
    </div>
    <div class="expense-detail-buttons">
        <a href="{% url 'income_expenses:index' %}" onclick="history.back(); return false;" class="btn-gray-b">← Πίσω</a>
        <a href="{% url 'income_expenses:expense_update' expense_detail.id %}" class="btn-green-b">Επεξεργασία</a>
        <a href="{% url 'income_expenses:expense_delete' expense_detail.id %}" class="btn-purple">Διαγραφή</a>
    </div>
</div>

<div class="detail-total expense">
    <span>Σύνολο Εξόδου</span>
    <span>{{ expense_detail.amount }} €</span>
</div>

<div class="detail-grid-expense">
    <div class="detail-item">
        <div>Ημερομηνία</div>
        <div>{{ expense_detail.day|date:"d/m/Y" }}</div>
    </div>
    <div class="detail-item">
        <div>Κατηγορία</div>
        <div>{{ expense_detail.category }}</div>
    </div>
    <div class="detail-item">
        <div>Ποσό</div>
        <div>{{ expense_detail.amount }} €</div>
    </div>
</div>

{% if income_detail.comments %}
<div class="comments-card">
    <div>Σχόλια</div>
    <p>{{ expense_detail.comments }}</p>
</div>
{% endif %}

<div class="created-updated">
    Δημιουργήθηκε: {{ expense_detail.created_at|date:"d/m/Y H:i" }} &nbsp;·&nbsp;
    Ενημερώθηκε: {{ expense_detail.updated_at|date:"d/m/Y H:i" }}
</div>

{% endblock %}