{% extends 'income_expenses/base.html' %}
{% block body %}

<a href="{% url 'income_expenses:index' %}" class="btn-gray-b">← Πίσω</a>
<div class="delete">
    <form method="POST">
        {% csrf_token %}
        <h3>Θα διαγραφεί η καταχώρηση:</h3>
        <h4>Ημερομηνία: {{ income_to_del.day|date:"d/m/Y" }}</h4>
        <h4>Ποσό: {{ income_to_del.income_sum }} €</h4>
        <p>Είστε σίγουροι;</p>
        <button class="btn-purple" type="submit">Delete</button>
    </form>
</div>
{% endblock %}