{% extends 'income_expenses/base.html' %}
{% block body %}
{% load static %}

<!-- Income - Expenses Buttons -->

<a href="{% url 'income_expenses:submit_income' %}" class="btn-income">+ Νέο Έσοδο</a>
<a href="{% url 'income_expenses:submit_expense' %}" class="btn-expense">+ Νέο Έξοδο</a>


<!-- SUMMARY SECTION -->
<div class="summary">

    <!-- Date filter form -->
     
    <form method="get" action="{% url 'income_expenses:index' %}">
        <div class="fast-search">
            <h3>Γρήγορη αναζήτηση</h3>
            <input type="date" name="date_from" value="{{ date_from }}" class="date-input date-from">
            <span>—</span>
            <input type="date" name="date_to" value="{{ date_to }}" class="date-input date-to">
            <button type="submit" class="btn-gray">Εφαρμογή</button>
        </div>
    </form>
    
    <!-- Totals -->
    <div class="stats-grid">

        <div class="income-card">
            <div class="heading">Τζίρος Τρέχων Μήνα</div>
            <div class="text-success">{{ sum_income_result }} €</div>
            <div class="heading">Τζίρος Τρέχων Έτους</div>
            <div class="text-success">{{ YTD_result }} €</div>
            <div class="heading">Διαφορά με πέρυσι ανα Μήνα / Έτος</div>
            <div>
                <span class="{% if diff_by_percentage >= 0 %}text-success{% else %}text-danger{% endif %}">
                    {{ diff_by_percentage }}%
                </span>
                <span> / </span>
                <span class="{% if diff_by_percentage_YTD >= 0 %}text-success{% else %}text-danger{% endif %}">
                    {{ diff_by_percentage_YTD }}%
                </span>
            </div>
        </div>

        <div class="expenses-result-card">
            <div class="heading">Σύνολο Εξόδων</div>
            <div class="text-danger">{{ sum_expenses_result }} €</div>
            <br>
            <div class="heading">Αποτέλεσμα</div>
            <div>{{ net_result }} €</div>
        </div>

        <div class="analyse-card">
            <div class="heading">Ανάλυση Εσόδων</div>
            <div>
                <div class="cash-usage">
                    <span class="label">Μετρητά:</span>
                    <span class="value">{{ income_totals.total_cash }} €</span>
                </div>
                <div class="pos-usage">
                    <span class="label">POS:</span>
                    <span class="value">{{ income_totals.total_pos }} €</span>
                </div>
                <div class="deposit-usage">
                    <span class="label">Κατάθεση:</span>
                    <span class="value">{{ income_totals.total_deposit }} €</span>
                </div>
                <div class="check-usage">
                    <span class="label">Επιταγή:</span>
                    <span class="value">{{ income_totals.total_check }} €</span>
                </div>
                <div class="other-usage">
                    <span class="label">Άλλο:</span>
                    <span class="value">{{ income_totals.total_other }} €</span>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="prediction">
    
    <div>Πρόβλεψη για τη σημερινή είσπραξη:</div>
    {% if next_day_prediction %}
    <p> {{ next_day_prediction }} €</p>
    {% else %}
    <p>Δέν υπάρχουν δεδομένα</p>
    {% endif %}
</div>

<!-- Latest Transactions -->
<div class="list">
    <div class="heading">
        <ul>
            {% for i in combined %}
            <li class="{% if i.income_sum %}heading-btn-income{% else %}heading-btn-expense{% endif %}">
                {% if i.income_sum %}
                <a href="{% url 'income_expenses:detail' i.id %}">
                    <div>
                    <span>ΕΣΟΔΟ : {{ i.day|date:"d/m/Y" }}  -  {{ i.income_sum }} €</span>
                    {% if i.comments %}
                    <div>{{ i.comments }}</div>
                    {% endif %}
                  </div>
                 
                </a>
                {% else %}
                    <a href="{% url 'income_expenses:expenses_detail' i.id %}">
                        <div>
                            <span>ΕΞΟΔΟ : {{ i.day|date:"d/m/Y" }}  -  {{ i.amount }} €</span>
                            {% if i.comments %}
                            <div>{{ i.comments }}</div>
                            {% endif %}
                        </div>
                    </a>
                    {% endif %}
            </li>
             {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}