{% extends 'income_expenses/base.html' %}
{% load static %}

{% block body %}

<a href="{% static 'income_expenses/template_old_data.xlsx' %}" download class="btn btn-secondary">
    Κατέβασε Πρότυπο Αρχείο
</a>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.file }}
    <button type="submit">Upload</button>
</form>
<br>
<h2>ΟΔΗΓΙΕΣ</h2>

<p>Αρχικά κατεβάζουμε το πρότυπο αρχείο, και το ανοίγουμε με excel.</p><br>
<p>Υπάρχουν δύο φύλλα. Το πρώτο φύλλο είναι τα έσοδα. <b>Προσοχή</b>, περνάμε μία ημέρα σε κάθε γραμμή, με τα ημερήσια έσοδα.</p><br>
<p>Το δεύτερο φύλλο είναι τα έξοδα. Σε αυτό μπορούμε να περάσουμε πολλαπλές γραμμές για κάθε ημέρα.</p><br>

</p> Προσθέτουμε τα δεδομένα στο αρχείο Excel, αποθηκεύουμε. Έπειτα επιλέγουμε το αρχείο μέσω της εφαρμογής και επιλέγουμε upload</p>
<br>
<p>Παράδειγμα Έσοδα:</p>
<img src="{% static 'income_expenses/έσοδα.png' %}" alt="έσοδα">
<br>
<p>Παράδειγμα Έξοδα:</p>
<img src="{% static 'income_expenses/έξοδα.png' %}" alt="έξοδα">
{% endblock %}