{% extends 'income_expenses/base.html' %}
{% block body %}

<div class="stores-container">
    <div class="page-header">
        <div>
            <h1>Καταστήματα</h1>
            <p>Διαχείριση καταστημάτων</p>
        </div>
        <a href="{% url 'income_expenses:add_store' %}" class="btn-store">+ Νέο Κατάστημα</a>
    </div>

    <div class="stores">
        <ul class="store-list">
            {% for store in stores_list %}
            <li class="store-item">
                <div class="store">
                    <span><a href="{% url 'income_expenses:update_store' store.id %}" class="btn btn-edit">{{ store.name }}</a></span>
                    <div class="entry-actions">
                        {% if stores_list.count > 1 %}
                        <a href="{% url 'income_expenses:delete_store' store.id %}" class="btn-delete">Διαγραφή</a>
                        {% endif %}

                    </div>
                </div>
            </li>

            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}