{% extends 'income_expenses/base.html' %}
{% block body %}

<div class="add-store-header">
    <div>
        <h1>Επεξεργασία Καταστήματος</h1>
    </div>
    <a href="{% url 'income_expenses:stores' %}" class="btn-gray-b">← Πίσω</a>
</div>

<div class="store-card">
    <form method="POST">
        {% csrf_token %}
            <div class="store_name">
                <label>Όνομα Καταστήματος</label>
                {{ form.name }}
            </div>
        <div class="form-footer">
            <button type="submit" class="btn-green">Αποθήκευση</button>
            <a href="{% url 'income_expenses:stores' %}" class="btn-purple">Ακύρωση</a>
        </div>
    </form>
</div>

{% endblock %}