:root {
    --bg-main: #eef1f0;
    --bg-dark: #164A3A;
    --bg-income: #eff8f6;
    --bg-expenses: #f6f3fa;
    --hover-white: #f4f4f2;
    --header:rgb(202, 214, 167);
    --purple1: #7651A5;
    --purple-light: #EEE7F6;
    --green1: #1D6B50;
    --green2: #164A3A;
    --green-light: #dff2eb;
    --gray: #abb2bb;
    --black: #2d3336;
    --border: #d5ddda;
    --cards: #f8faf9;
}

/* invoice_delete.html */

.invoice-delete-card {
    background-color: var(--cards);
    padding: 30px;
    border: 1px solid var(--border);
    border-radius: 8px;
    margin: 20px 0;
    max-width: 400px; 
    font-size: 0.8rem;
}
.invoice-delete-card span {
    color: var(--purple1);
    font-size: 1.1rem;
    font-style: italic;
}

/* invoice_details.html */

.invoice-detail {
    background-color: var(--cards);
    padding: 20px;
    border: 1px solid var(--border);
    border-radius: 8px;
    margin: 20px 0;
    max-width: 400px; 
    font-size: 0.8rem; 
}
.invoice-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    'invoice invoice'
    'supplier prices';
    background-color: var(--bg-main);
    border: 1px solid var(--border);
    border-radius: 8px;
}
.invoice-header-top {
    grid-area: invoice;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    margin: 10px;
}
.invoice-date {
    color: var(--black);
}
.invoice-item {
    margin: 0;
}
.invoice-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    border-right: solid 1px var(--border);
}
.invoice-info .info-label {
    display: block;
    margin-bottom: 5px;
    color: var(--black);
}


.invoice-totals {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10px;
}
.invoice-totals span {
    color: var(--black);
}
.invoice-totals .total-item:nth-child(2) {
    padding-bottom: 10px;
    border-bottom: solid 1px var(--border);
}
.invoice-totals .total-item:last-child, .total-item:last-child span {
    color: var(--purple1);
    font-weight: bold;
}
.total-item {
    display: flex;
    justify-content: space-between;
}
.products-table,
.products-table tbody,
.products-table tr,
.products-table td {
  display: block;
}
.products-table thead {
    display: none;
}
.products-table tr {
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 8px;
  background: var(--bg-main);
}
.products-table td::before {
  content: attr(data-label) " :  ";
  font-style: italic;
}


@media screen and (min-width: 1000px) {
    .invoice-detail {
        max-width: 800px;
    }
    .products-table {
        display: table;
        margin-bottom: 20px;
    }
    .products-table thead {
        display: table-header-group;
    }
    .products-table tbody {
        display: table-row-group;
    }
    .products-table tr,
    .products-table td {
        display: table-row;
    }
    .products-table th,
    .products-table td {
    display: table-cell;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid var(--border);
    }
    .products-table td::before {
        content: none;
    }
    .product-price {
        white-space: nowrap; /* Gives the width we need without wrap */
    }
}

/* invoice_update.html */

.invoice-update-card {
    background-color: var(--cards);
    padding: 20px;
    border: 1px solid var(--border);
    border-radius: 8px;
    margin: 20px auto;
    max-width: 400px;
}
.invoice-update-form {
    display: grid;
    padding: 5px;
}
.invoice-update-form label {
    margin-bottom: 5px;
}
.invoice-update-form select,
.invoice-update-form input,
.invoice-update-form textarea,
.immutable {
  box-sizing: border-box;
  font-size: 0.9rem;
  padding: 6px 10px;
  border: 1px solid var(--border);
  border-radius: 8px;
  background: var(--bg-main);
  color: var(--black);
  width: 100%;
}
.immutable {
    background-color: var(--gray);
    color: var(--bg-main);
}
.invoice-update-buttons {
    margin-top: 20px;
}


@media screen and (min-width: 1000px) {
    .invoice-update-card {
        max-width: 800px;
    }
}

/* invoice_supplier.html */

.supplier-form {
    background-color: var(--cards);
    padding: 20px;
    border: 1px solid var(--border);
    border-radius: 8px;
    margin: 20px auto;
    max-width: 400px;
}
.supplier-year-choice label {
    display: flex;
    flex-direction: column;
}


.supplier-products-summarize {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--black);
    color: var(--bg-main);
    padding: 6px 10px;
    border-radius: 8px;
}
.supplier-products-summarize span {
    margin-bottom: 10px;
}
.supplier-products-summarize span:first-child {
    border-bottom: solid 1px var(--bg-main);
}
/* invoice_list.html */

