{% extends 'income_expenses/base.html' %}
{% load static %}

<!-- Load extra css file -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}

{% block body %}

<div class="pass-reset-confirm-card">
    <h1>Επαναφορά κωδικού</h1>

    {% if form.non_field_errors %}
    <span class="error">{{ form.non_field_errors }}</span>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="field-wrapper">
            <label>{{ field.label }}</label>
            {{ field }}
        </div>
        {% if field.errors %}
        <span class="error">{{ field.errors }}</span>
        {% endif %}
        {% endfor %}

        <div class="pass-reset-confirm-form-actions">
            <button type="submit" class="btn-green">Αποστολή</button>
        </div>

    </form>
</div>

{% endblock %}