{% extends 'income_expenses/base.html' %}
{% load static %}

<!-- Load extra css file -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}

{% block body %}

<div class="password-reset-done-card">
    <h1>Επαναφορά κωδικού</h1>
    <h3>Η αποστολή του email έγινε με επιτυχία. Έλεγξε το email σου.</h3>
    <p>Αν δεν το βρεις, έλεγξε και τον φάκελο spam.</p>
    <a class="btn-green-b" href="{% url 'login' %}">Επιστροφή στη σύνδεση</a>
</div>

{% endblock %}