{% extends 'income_expenses/base.html' %}
{% block body %}

<div class="form-card" style="max-width:400px; margin:4rem auto;">
    <h1 style="font-size:1.4rem; margin-bottom:1.5rem;">Επαναφορά κωδικού</h1>

        {% if form.non_field_errors %}
    <div class="bg-red-500 text-white p-2">
        {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post">

        {% csrf_token %}
        {% for field in form %}
        <div class="form-grid">
            <div class="form-group full">
            <label for="">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="text-red-500 text-sm">
                    {% for error in field.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

        </div>
        {% endfor %}

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Αποστολή</button>
        </div>

    </form>
</div>

{% endblock %}