{% extends 'income_expenses/base.html' %}
{% load static %}

<!-- Load extra css file -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}

{% block body %}

<div class="page-form">
    <h1>Εγγραφή</h1>
    <form  class="form-grid" method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <span class="error">{{ form.non_field_errors }}</span>
        {% endif %}

        {% for field in form %}
            <div class="field-wrapper">
                <label>{{ field.label }}</label>
                {{ field }}
            </div>
            {% if field.errors %}
            <span class="error">{{ field.errors }}</span>
            {% endif %}
        {% endfor %}
        <div class="submit-form">
            <button type="submit" class="btn-gray-b">Εγγραφή</button>
        </div>

    </form>
    <div class="form-footer">
        <span>Έχεις ήδη λογαριασμό;</span>
        <a class="btn-green-b" href="{% url 'login' %}">Σύνδεση</a>
    </div>

</div>

{% endblock %}