:root {
    --bg-main: #eef1f0;
    --bg-dark: #164A3A;
    --bg-income: #eff8f6;
    --bg-expenses: #f6f3fa;
    --hover-white: #f4f4f2;
    --header:rgb(202, 214, 167);
    --purple1: #7651A5;
    --purple-light: #EEE7F6;
    --green1: #1D6B50;
    --green2: #164A3A;
    --green-light: #dff2eb;
    --gray: #abb2bb;
    --black: #2d3336;
    --border: #d5ddda;
    --cards: #f8faf9;
}

/* invoice_delete.html */

.invoice-delete-card {
    background-color: var(--cards);
    padding: 30px;
    border: 1px solid var(--border);
    border-radius: 8px;
    margin: 20px 0;
    max-width: 400px; 
    font-size: 0.8rem;
}
.invoice-delete-card span {
    color: var(--purple1);
    font-size: 1.1rem;
    font-style: italic;
}

/* invoice_details.html */

.invoice-detail {
    background-color: var(--cards);
    padding: 30px;
    border: 1px solid var(--border);
    border-radius: 8px;
    margin: 20px 0;
    max-width: 400px; 
    font-size: 0.8rem; 
}
.invoice-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: 
    'invoice invoice'
    'supplier prices';
    background-color: var(--bg-main);
    border: 1px solid var(--border);
    border-radius: 8px;
}
.invoice-header-top {
    grid-area: invoice;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    margin: 10px;
}
.invoice-date {
    color: var(--black);
}
.invoice-item {
    margin: 0;
}
.invoice-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    border-right: solid 1px var(--border);
}
.invoice-info .info-label {
    display: block;
    margin-bottom: 5px;
    color: var(--black);
}


.invoice-totals {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10px;
}
.invoice-totals span {
    color: var(--black);
}
.invoice-totals .total-item:nth-child(2) {
    padding-bottom: 10px;
    border-bottom: solid 1px var(--border);
}
.invoice-totals .total-item:last-child, .total-item:last-child span {
    color: var(--purple1);
    font-weight: bold;
}
.total-item {
    display: flex;
    justify-content: space-between;
}




@media screen and (min-width: 1000px) {
    .invoice-detail {
        max-width: 800px;
    }
}
/* invoice_list.html */

