
/* register.html */

.register-form {
    background-color: var(--cards);
    padding: 30px;
    border: 1px solid var(--border);
    border-radius: 8px;
    margin: 20px 0;
}
.register-form h1 {
    font-size: 1.2rem;
}
.form-grid {
    display: grid;
    justify-content: space-around;

}