/* All forms are the same. I don't know why, but 
when I used one form for all the html files, 
they were not working.  */

/* register.html */

.register-form {
    background-color: var(--cards);
    padding: 30px;
    border: 1px solid var(--border);
    border-radius: 8px;
    margin: 20px 0;
    max-width: 400px;
}
.register-form h1 {
    font-size: 1.2rem;
}
.form-grid {
    display: grid;
    justify-content: space-around;
}
.field-wrapper {
    margin: 10px;
}
.submit-form button {
    margin-top: 10px;
}

/* login.html */


.login-form {
    background-color: var(--cards);
    padding: 30px;
    border: 1px solid var(--border);
    border-radius: 8px;
    margin: 20px 0;
    max-width: 400px;
}
.login-form .login-form-actions {
    margin: 10px;
    padding: 10px;
}
.login-form .options-no-login {
    margin: 10px;
}

/* password-reset.html */

.password-reset-form {
    background-color: var(--cards);
    padding: 30px;
    border: 1px solid var(--border);
    border-radius: 8px;
    margin: 20px 0;
    max-width: 400px;
}
.pass-reset-form-actions {
    margin: 10px;
    padding: 10px;
}

/* password_reset_done.html */

.password-reset-done-card {
    background-color: var(--cards);
    padding: 30px;
    border: 1px solid var(--border);
    border-radius: 8px;
    margin: 20px 0;
    max-width: 400px;
}

/* password_reset_complete.html */

.password-reset-complete-card {
    background-color: var(--cards);
    padding: 30px;
    border: 1px solid var(--border);
    border-radius: 8px;
    margin: 20px 0;
    max-width: 400px;
}

/* password_reset_confirm.html */

.pass-reset-confirm-card {
    background-color: var(--cards);
    padding: 30px;
    border: 1px solid var(--border);
    border-radius: 8px;
    margin: 20px 0;
    max-width: 400px;
}

/* delete_account.html */

.delete-card {
    background-color: var(--cards);
    padding: 30px;
    border: 1px solid var(--border);
    border-radius: 8px;
    margin: 20px 0;
    max-width: 400px;    
}