{% extends 'income_expenses/base.html' %}
{% block body %}

<!-- Display Django messages -->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<!-- Display form errors -->
{% if form.errors %}
    <div class="alert alert-danger">
        {{ form.errors }}
    </div>
{% endif %}


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.invoice }}
    <button type="submit">Upload Invoice</button>
</form>
<br>

{% endblock %}