{% extends 'income_expenses/base.html' %}
{% load static %}

<!-- Load this css file to base.html on income_expenses app. -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'invoices/css/style.css' %}">
{% endblock %}

{% block body %}


<a href="{% url 'invoices:invoice_list' %}" onclick="history.back(); return false;" class="btn-gray-b">←Πίσω</a>
<div class="invoice-detail">
    <!-- Invoice Header Card -->
    <div class="invoice-card">
        <div class="invoice-header-top">
            <h3>Τιμολόγιο #{{ invoice_detail.invoice_number }}</h3>
            <span class="invoice-date">{{ invoice_detail.date }}</span>
        </div>
        
        <div class="invoice-info">
            <div class="invoice-item">
                <span class="info-label">Προμηθευτής</span>
                <strong>{{ invoice_detail.supplier.supplier }}</strong>
            </div>
            <div class="invoice-item">
                <span class="info-label">ΑΦΜ</span>
                <strong>{{ invoice_detail.supplier.afm }}</strong>
            </div>
        </div>

        <div class="invoice-totals">
            <div class="total-item">
                <span>Καθαρή Αξία</span>
                <strong>{{ invoice_detail.amount }} €</strong>
            </div>
            <div class="total-item">
                <span>ΦΠΑ</span>
                <strong>{{ invoice_detail.fpa }} €</strong>
            </div>
            <div class="total-item">
                <span>Σύνολο</span>
                <strong>{{ invoice_detail.total }} €</strong>
            </div>
        </div>
    </div>

    <!-- Products Table -->
    <div class="invoice-products-table">
        <h3>Προϊόντα</h3>
        <div class="table-responsive">
            <div class="table-header">
                <span>Κωδικός</span>
                <span>Όνομα Προϊόντος</span>
                <span>Μονάδα Μέτρησης</span>
                <span>Τιμή</span>
                <span>Ποσότητα</span>
            </div>
            <div class="product-table">
                {% for product in products %}
                <span>{{ product.product_code }}</span>
                <span>{{ product.name }}</span>
                <span>{{ product.unit }}</span>
                <span>{{ product.price }} €</span>
                <span>{{ product.quantity }}</span>
                {% empty %}
                <span>Δεν υπάρχουν προϊόντα</span>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="invoice-details-buttons">
        <a href="{% url 'invoices:invoice_update' invoice_detail.id %}" class="btn-gray-b">Επεξεργασία Τιμολογίου</a>
        <a href="{% url 'invoices:invoice_delete' invoice_detail.id %}" class="btn-purple-b">Διαγραφή Τιμολογίου</a>
    </div>
</div>

{% endblock %}