{% extends 'income_expenses/base.html' %}
{% load static %}

<!-- Load this css file to base.html on income_expenses app. -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'invoices/css/style.css' %}">
{% endblock %}

{% block body %}

<a href="{% url 'invoices:invoice_reader' %}" onclick="history.back(); return false;" class="btn-gray-b">←Πίσω</a>
<div class="supplier-form">
    {% if supplier %}
    <div class="supplier-year-choice">
        <form method="POST" action="{% url 'invoices:invoice_supplier' %}">
            {% csrf_token %}

            <label for="supplier_select">Επιλογή Έτους</label>
            <!-- onchange="this.form.submit()" javascript to automate post when user selects a year.
        That way user selects the suppliers available on the selected year. -->
            <select name="selected_year" id="selected_year" onchange="this.form.submit()">

                <!-- SOS CHECK IT WITH DIFFERENT VIEW -->
                <!-- <option value="" selected disabled hidden>Επιλογή Έτους</option> -->
                
                <option value="">Όλα τα έτη</option>
                {% for y in invoice_years %}
                <!-- |stringformat:"s" make the value string to be able to compare it. -->
                <option value="{{ y }}" {% if y|stringformat:"s" == selected_year %}selected{% endif %}>{{ y }}</option>
                {% endfor %}
            </select>

            <label for="supplier_select">Επιλογή Προμηθευτή</label>
            <select name="supplier_select" id="supplier_select" required>
                
                <!-- <option value="" selected disabled hidden>Επίλεξε προμηθευτή</option> -->
                
                {% for s in supplier %}
                <option value="{{ s.id }}" {% if s.id == selected_supplier.id %}selected{% endif %}>{{ s.supplier }}
                </option>
                {% endfor %}
            </select>
            <button class="btn-green" type="submit">Επιλογή</button>
            {% if selected_supplier %}
            <a href="{% url 'invoices:supplier_update' selected_supplier.id %}" class="btn-gray-b">Επεξεργασία
                Προμηθευτή</a>
            {% endif %}

        </form>
        </div>
        {% else %}
        <p>Δέν υπάρχουν καταχωρημένα τιμολόγια</p>
        {% endif %}
    
    {% if selected_supplier %}
    <div class="supplier-products-summarize">
        <label>Προμηθευτής:</label>
        <span>{{ selected_supplier.supplier }}</span>
        <label>Συνολικές Αγορές:</label>
        <span>{{ total_amount.total__sum }} €</span>
    </div>
    {% endif %}
    <div class="invoice-products-table">
        <table class="products-table">
            <thead>
                <tr>
                    <th>Όνομα Προϊόντος</th>
                    <th>Μονάδα</th>
                    <th>Ποσότητα</th>
                    <th>Τιμή</th>
                </tr>
            </thead>
            <tbody>
                {% if products %}
                {% for p in products %}
                <tr>
                    <td data-label="Προϊόν">{{ p.name_cleaned|title }}</td>
                    <td data-label="Μονάδα">{{ p.unit }}</td>
                    <td data-label="Ποσότητα">{{ p.total_quantity }}</td>
                    <td data-label="Τιμή">{{ p.price }} €</td>
                </tr>
            </tbody>
            {% endfor %}
            {% else %}
            <td class="empty">Δέν υπάρχουν δεδομένα</td>
            {% endif %}
        </table>
    </div>
</div>
<div class="buttons">
    <a href="{% url 'invoices:invoice_list' %}" class="btn-green-b">Καταχωρημένα Τιμολόγια</a>
</div>
{% if selected_supplier %}
<a href="#top">
  <button id="myBtn">↑</button>
</a>
{% endif %}
{% endblock %}