{% extends 'income_expenses/base.html' %}
{% load static %}

<!-- Load this css file to base.html on income_expenses app. -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'invoices/css/style.css' %}">
{% endblock %}

{% block body %}

<a href="{% url 'invoices:invoice_details' invoice.id %}" onclick="history.back(); return false;" class="btn-gray-b">←Πίσω</a>
<div class="invoice-update-card">
    <h3>Επεξεργασία Τιμολογίου</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="invoice-update-form">
            <label>Προμηθευτής</label>
            <span class="immutable">{{ invoice.supplier.supplier }}</span>
        </div>
        <div class="invoice-update-form">
            <label>ΑΦΜ</label>
            <span class="immutable">{{ invoice.supplier.afm }}</span>
        </div>
        <div class="invoice-update-form">
            <label>Αριθμός Τιμολογίου</label>
            <span>{{ form.invoice_number }}</span>
        </div>
        <div class="invoice-update-form">
            <label>Ημερομηνία</label>
            <span>{{ form.date }}</span>
        </div>
        <div class="invoice-update-form">
            <label>Ποσό (€)</label>
            <span>{{ form.amount }}</span>
        </div>
        <div class="invoice-update-form">
            <label>Ποσό ΦΠΑ (€)</label>
            <span>{{ form.fpa }}</span>
        </div>
        <div class="invoice-update-form">
            <label>Ποσοστό ΦΠΑ (%)</label>
            <span>{{ form.fpa_persentage }}</span>
        </div>
        <div class="invoice-update-form">
            <label>Τελικό Σύνολο (€)</label>
            <span>{{ form.total }}</span>
        </div>
        <div class="invoice-update-buttons">
            <button type="submit" class="btn-green">Αποθήκευση</button>
            <a href="{% url 'invoices:invoice_list' %}" class="btn-purple">Ακύρωση</a>
        </div>
    </form>
</div>
{% endblock %}