{% extends 'income_expenses/base.html' %}
{% block body %}

<p>This is invoice details</p>
<br>
<p>{{invoice_detail.supplier}}</p>
<p>{{ invoice_detail.date }}</p>
<br>
{% for product in products %}
<table>
    <tr>
        <td>Όνομα προιόντος : {{ product.name }}</td>
        <td>Κωδικός Προιόντος : {{ product.product_code }}</td>
        <td>Μονάδα Μέτρησης Προιδόντος : {{ product.unit }}</td>
        <td>Τιμή Προιδόντος : {{ product.price }}</td>
        <td>Ποσότητα Προιδόντος : {{ product.quantity }}</td>

    </tr>
   
</table>
{% endfor %}
<a href="{% url 'invoices:invoice_delete' invoice_detail.id %}" class="btn btn-danger">Διαγραφή</a>
<br>
<a href="{% url 'invoices:invoice_list' %}" class="btn btn-secondary">Πίσω</a>


{% endblock %}
