{% extends 'income_expenses/base.html' %}
{% block body %}

<p>This is the supplier's page</p>

{% if supplier %}

<form method="POST" action="{% url 'invoices:invoice_supplier' %}">
    {% csrf_token %}
    
    <label for="supplier_select">Επιλογή προμηθευτή</label>
    <select name="supplier_select" id="supplier_select">
        {% for s in supplier %}
        <option value="{{ s }} -- {{ s.total_ammount }} €">{{ s }}</option>
        {% endfor %}
    </select>
    <button type="submit">Επιλογή</button>

</form>

{% else %}
    <tr>
        <td>Δέν υπάρχουν καταχωρημένα τιμολόγια</td>
    </tr>
{% endif %}

<table>
    <ul>
        {% for p in products %}
        <li>{{ p.name_cleaned|capfirst }} - {{ p.unit }} - {{ p.price }} - {{ p.total_quantity }}</li>
        <br>
        {% endfor %}
    </ul>
</table>

{% endblock %}