{% extends 'income_expenses/base.html' %}
{% block body %}

<p>This is the list with the invoices</p>
{% for invoice in invoices %}
<ul>
    <div>
        <li><div>{{ invoice.date }} - {{ invoice.supplier }} : {{invoice.total}}</div></li>
        <a href="{% url 'invoices:invoice_details' invoice.id %}" class="btn btn-edit">Λεπτομέρειες τιμολογίου</a>
        <a href="{% url 'invoices:invoice_delete' invoice.id %}" class="btn btn-danger">Διαγραφή</a>
    </div>

</ul>
{% endfor %}
<br>
<a href="{% url 'invoices:invoice_reader' %}" class="btn btn-secondary">Πίσω</a>
{% endblock %}