:root {
    --bg: rgba(0, 200, 120, 0.55);
    --bg2: rgba(0, 150, 90, 0.35);
    /* --bg3: rgba(10, 14, 18, 0.2); */
    --bg3: rgba(255, 255, 255, 0.415);
    --header:rgb(202, 214, 167);
    --purple1: #65358A;
    --purple2: #43245C;
    --green1: #1D6B50;
    --green2: #164A3A;
    --gray: #92989F;
    --buttons: #082a2b;
    --text: rgba(209, 229, 211, 0.75);
    --black: #0a0a0a;
}
/* NAV */
body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background-color: #0a0e12; /* το πολύ σκούρο background γύρω γύρω */
  background-image: radial-gradient(
    circle at center,
    var(--bg) 0%,   /* πράσινο στο κέντρο */
    var(--bg2) 25%,  /* σταδιακά πιο αχνό */
    var(--bg3) 80%      /* διαλύεται στο σκοτεινό background */
  );
  min-height: 100vh;
  font-family: "Avenir Next", "Avenir", sans-serif;
}
.menu-container {
  height: 60px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-container .standard-menu {
  display: grid;
  width: 100%;
  list-style-type: none;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas: 
  'biztools username'
  'store disconnect';
  padding-top: 20px;
  align-items: center;
  color: var(--gray);
}
.standard-menu h1 {
  margin: 0;
  color: var(--header);
  font-weight: 200;
}
.standard-menu button {
  padding: 5px;
  border-radius: 25px;
  background-color: var(--gray);
}
.standard-menu select {
  padding: 5px;
  border-radius: 25px;
  background-color: var(--gray);
}
.connect-button {
  padding: 5px;
  border-radius: 25px;
  background-color: var(--gray);
  text-align: center;
}

.menu
nav {
  overflow: auto;
}
nav .burger {
  display: none;
}
nav .burger-label {
  position: relative;
  width: 64px;
  cursor: hand;
  float: left;
  padding: 20px;
  display: flex;
  flex: row;
}
nav .line {
  background: var(--text);
  display: block;
  height: 2px;
  position: absolute;
  width: 24px;
  transition: all 0 1s ease;
}
nav .line.line1 {
  top: 10px;
}
nav .line.line2 {
  top: 18px;
}
nav .line.line3 {
  top: 26px;
}
.burger-checkbox {
  display: none;
}
nav:has(.burger-checkbox:checked) .burger {
  display: flex;
  height: 100%;
  clear: left;
}
nav .burger-checkbox:checked ~ .burger-label .line1 {
  transform: rotate(45deg);
  top: 18px;
}
.burger-checkbox:checked ~ .burger-label .line2 {
  background-color: transparent;
}
.burger-checkbox:checked ~ .burger-label .line3 {
  transform: rotate(-45deg);
  top: 18px;
}
/* when it's not collapsed */
nav {
  background-color: var(--bg1);
}
nav .burger {
  flex-direction: column;
  align-items: center;
  margin: 10px;
  list-style-type: none;
  padding: 0;
  width: 40%;
}
nav .burger li {
  margin: 0 10px;
  padding: 0 10px;
  width: 50%;
  height: 40px;
  display: flex;
  align-items: left;
  justify-content: left;
  background-color: transparent;
  color: var(--text)
}
nav .burger li a {
  text-decoration: none;
  display: block;
  color: inherit;
}
nav .burger li:hover {
  background-color: transparent;
  color: var(--green1);
}
nav .burger li:active {
  color: var(--green2);
}
.menu-container .standard-menu li:first-child {
  grid-area: biztools;
}
.menu-container .standard-menu li:nth-child(2) {
  grid-area: store;
}
.menu-container .standard-menu li:nth-child(3) {
  grid-area: username;
}
.menu-container .standard-menu a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
.menu-container .standard-menu a:hover {
  color: var(--green1);
}
.menu-container .standard-menu a:active {
  color: var(--green2);
}
.menu-container .standard-menu li:last-child {
  grid-area: disconnect;
}










@media screen and (min-width: 1000px) {
  body {
    font-size: 1.3rem;
  }
  nav .burger-label {
    display: none;
  }
  nav .burger {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -130px;
    top: 80px;
  }
  .menu-container .standard-menu {
    grid-template-columns: 1.5fr 0.5fr 1fr 1fr;
    grid-template-areas: 
    'biztools username disconnect store';
    top: 10px;
    align-items: center;
    position: relative;
    width: 40%;
  }
  
}



/* MAIN */
/* index.html */
main {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  /* text-align: center; */
  margin-top: 60px;
}
.btn-income {
  background-color: var(--green1);
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--text);
  text-decoration: none;
}
.btn-expense {
  background-color: var(--purple1);
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--text);
  text-decoration: none;
}
.fast-search {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr 0.6fr 0.6fr;
  grid-template-areas:
  'h3 h3 h3'
  'start dash end'
  'apply apply apply';
}
.fast-search h3 {
  grid-area: h3;
}
.fast-search .date-input {
  background-color: var(--buttons);
  border-radius: 10px;
  padding: 0 10px;
  color: var(--gray);
  color-scheme: dark;
}
.fast-search .date-from {
  grid-area: start;
}
.fast-search span {
  grid-area: dash;
}
.fast-search .date-to {
  grid-area: end;
}
.btn-gray {
  grid-area: apply;
  background-color: #082a2b;
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--gray);
}
.stats-grid {
  margin-top: 10px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
  'income-card'
  'expenses-result-card'
  'analyse-card';
  gap: 10px;
  
}
.stats-grid h4 {
  color: var(--green2);
}
.income-card {
  grid-area: income-card;
}
.expenses-result-card {
  grid-area: expenses-result-card;
}
.analyse-card {
  grid-area: analyse-card;
}
.analyse ~ div {
  padding: 40px;
}
.analyse label {
  color: red;
}
.income-card, .expenses-result-card, .analyse-card {
  background-color: var(--gray);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.text-success {
  color: var(--green1);
}
.text-danger {
  color: var(--purple1);
}

/* PREDICTION */

.prediction {
  margin-top: 20px;
  background-color: #022625;
  color: var(--text);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

/* LATEST TRANSACTIONS */
.heading {
  margin-top: 20px;
  background-color: var(--gray);
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  color: var(--text);
  font-variant: small-caps;
}
.heading ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.heading li {
  margin: 10px 0;
  padding: 10px 5px;
  border-radius: 10px;
}
.heading-btn-income {
  background-color: var(--green1);
}
.heading-btn-income a {
  color: var(--text);
  text-decoration: none;
}
.heading-btn-expense {
  background-color: var(--purple1);  
}
.heading-btn-expense a {
  color: var(--text);
  text-decoration: none;
}
.heading-btn-neutral {
  background-color: var(--gray);
  border: solid black 1px;
  border-radius: 10px;
}
.heading-btn-result {
  background-color: var(--black);
  /* border: solid black 1px; */
  border-radius: 10px;
  color: var(--text);
}

@media screen and (min-width: 1000px) {
  main {
    max-width: 40%;
  }
}


/*  */