:root {
    --bg-main: #eef1f0;
    --bg-dark: #164A3A;
    --bg-income: #eff8f6;
    --bg-expenses: #f6f3fa;
    --hover-white: #f4f4f2;
    --header:rgb(202, 214, 167);
    --purple1: #7651A5;
    --purple-light: #EEE7F6;
    --green1: #1D6B50;
    --green2: #164A3A;
    --green-light: #dff2eb;
    --gray: #abb2bb;
    --black: #1d3e40;
    --border: #d5ddda;
    --cards: #f8faf9;
}
/* NAV */
body
{
  margin: 0;
  padding: 0;
  background: var(--bg-main);
  min-height: 100vh;
  font-family: "Avenir Next", "Avenir", sans-serif;
}
.container nav {
  background: var(--bg-dark);
}
.menu-container {
  height: 60px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu-container .standard-menu {
  display: grid;
  width: 100%;
  list-style-type: none;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1.5fr 1fr;
  grid-template-areas: 
  'biztools username'
  'store disconnect';
  padding-top: 20px;
  align-items: center;
  color: var(--gray);
}
.standard-menu h1 {
  margin: 0;
  color: var(--header);
  font-weight: 200;
}
.standard-menu button {
  padding: 5px;
  border-radius: 25px;
  background-color: var(--gray);
}
.standard-menu button:hover {
  background-color: var(--cards);
}

.standard-menu select {
  padding: 5px;
  border-radius: 25px;
  background-color: var(--gray);
}
.standard-menu select:hover {
  background-color: var(--cards);
}
.connect-button {
  padding: 5px;
  border-radius: 25px;
  background-color: var(--gray);
  text-align: center;
}
.connect-button:hover {
  background-color: var(--cards);
}

.menu
nav {
  overflow: auto;
}
nav .burger {
  display: none;
}
nav .burger-label {
  position: relative;
  width: 64px;
  cursor: hand;
  float: left;
  padding: 20px;
  display: flex;
  flex: row;
}
nav .line {
  background: var(--green-light);
  display: block;
  height: 2px;
  position: absolute;
  width: 24px;
  transition: all 0 1s ease;
}
nav .line.line1 {
  top: 10px;
}
nav .line.line2 {
  top: 18px;
}
nav .line.line3 {
  top: 26px;
}
.burger-checkbox {
  display: none;
}
nav:has(.burger-checkbox:checked) .burger {
  display: flex;
  height: 100%;
  clear: left;
}
nav .burger-checkbox:checked ~ .burger-label .line1 {
  transform: rotate(45deg);
  top: 18px;
}
.burger-checkbox:checked ~ .burger-label .line2 {
  background-color: transparent;
}
.burger-checkbox:checked ~ .burger-label .line3 {
  transform: rotate(-45deg);
  top: 18px;
}
nav .burger {
  flex-direction: column;
  align-items: center;
  margin: 10px;
  list-style-type: none;
  padding: 0;
  width: 40%;
}
nav .burger li {
  margin: 0 10px;
  padding: 0 10px;
  width: 50%;
  height: 40px;
  display: flex;
  align-items: left;
  justify-content: left;
  background-color: transparent;
  color: var(--green-light);
  transition: color 0.3s ease;
}
nav .burger li a {
  text-decoration: none;
  display: block;
  color: inherit;
}
nav .burger li:hover {
  background-color: transparent;
  color: var(--green1);
}
nav .burger li:active {
  color: var(--black);
}
.menu-container .standard-menu li:first-child {
  grid-area: biztools;
}
.menu-container .standard-menu li:nth-child(2) {
  grid-area: store;
}
.menu-container .standard-menu li:nth-child(3) {
  grid-area: username;
}
.menu-container .standard-menu a {
  text-decoration: none;
  color: var(--green-light);
  transition: color 0.3s ease;
}
.menu-container .standard-menu a:hover {
  color: var(--green1);
}
.menu-container .standard-menu a:active {
  color: var(--black);
}
.menu-container .standard-menu li:last-child {
  grid-area: disconnect;
}








@media screen and (min-width: 1000px) {
  * {
    font-size: 1.1rem;
  }
  nav .burger-label {
    display: none;
  }
  nav .burger {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -130px;
    top: 80px;
  }
  nav .burger li {
    color: var(--bg-dark);
    transition: color 0.3s ease;
  }
  nav .burger li:hover {
    color: var(--gray);
  }
  .menu-container .standard-menu {
    grid-template-columns: 1.5fr 0.5fr 1fr 1fr;
    grid-template-areas: 
    'biztools username disconnect store';
    top: 10px;
    align-items: center;
    position: relative;
    width: 40%;
  }
  
}



/* MAIN */
/* index.html */
main {
  max-width: 80%;
  margin: 0 auto;
  position: relative;
  /* text-align: center; */
  margin-top: 60px;
}
.btn-income {
  background-color: var(--green1);
  padding: 10px 15px;
  border-radius: 8px;
  color: var(--green-light);
  text-decoration: none;
}
.btn-expense {
  background-color: var(--purple1);
  padding: 10px 15px;
  border-radius: 8px;
  color: var(--purple-light);
  text-decoration: none;
}
.fast-search {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr 0.6fr 0.6fr;
  grid-template-areas:
  'h3 h3 h3'
  'start dash end'
  'apply apply apply';
}
.fast-search h3 {
  grid-area: h3;
  color: var(--bg-dark);
}
.fast-search .date-input {
  background-color: var(--bg-main);
  border-radius: 10px;
  padding: 0 10px;
  color: var(--bg-dark);
  /* color-scheme: dark; */
}
.fast-search .date-from {
  grid-area: start;
  border-color: var(--border);
}
.fast-search span {
  grid-area: dash;
  align-self: center;
  padding: 0 10px;
}
.fast-search .date-to {
  grid-area: end;
  border-color: var(--border);
}
.fast-search button {
  margin-top: 5px;
}
.btn-gray {
  grid-area: apply;
  background-color: var(--bg-main);
  padding: 5px 10px;
  border-color: var(--border);
  border-radius: 10px;
  color: var(--bg-dark);
}
.btn-gray:hover {
  background-color: var(--border);
}
.stats-grid {
  margin-top: 10px;
  display: grid;
  grid-template-rows: 1fr 0.8fr 0.8fr;
  grid-template-areas: 
  'income-card'
  'expenses-result-card'
  'analyse-card';
  gap: 10px;
  
}
.stats-grid h4 {
  color: var(--green2);
}
.income-card {
  grid-area: income-card;
}
.expenses-result-card {
  grid-area: expenses-result-card;
}
.analyse-card {
  grid-area: analyse-card;
}
.analyse {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 50%;
  margin: 0 auto;
  color: var(--green2);
}
.analyse div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.income-card, .expenses-result-card, .analyse-card {
  background-color: var(--cards);
  padding: 10px;
  text-align: center;
  border: solid 1px var(--border);
  border-radius: 8px;
}
.text-success {
  color: var(--green1);
}
.text-danger {
  color: var(--purple1);
}
.income-card .heading {
  margin-top: 20px;
  background-color: var(--cards);
  border: 1px solid var(--border);
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  color: var(--green1);
  font-variant: small-caps;
}
.analyse-card .heading {
  margin-top: 20px;
  background-color: var(--cards);
  border: 1px solid var(--border);
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  color: var(--green1);
  font-variant: small-caps;
}
.expenses-result-card .heading-expense {
  margin-top: 20px;
  background-color: var(--cards);
  border: 1px solid var(--border);
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  color: var(--purple1);
  font-variant: small-caps;
}
.heading-btn-result {
  margin-top: 20px;
  background-color: var(--black);
  border-radius: 8px;
  color: var(--green-light);
  padding: 10px;
  color: var(--gray);
  font-variant: small-caps;
}
.heading-neutral {
  margin-top: 20px;
  background-color: var(--cards);
  border: 1px solid var(--border);
  border-radius: 8px;
  text-align: center;
  padding: 10px;
}

/* PREDICTION */

.prediction {
  margin-top: 20px;
  background-color: var(--green-light);
  color: var(--green1);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

/* LATEST TRANSACTIONS */
.list {
  margin: 20px 0;
  background-color: var(--cards);
  border: 1px solid var(--border);
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  color: var(--gray);
  font-size: 0.8rem;
}
.comments {
  font-size: 0.7rem;
}
.table-header,
.table {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.5fr 3fr;
    align-items: center;
    gap: 10px;
    padding: 15px 5px;
}
.table-header {
  border-bottom: solid 1px var(--border);
}
.table {
  text-decoration: none;
  color: var(--black);
  border-bottom: solid 1px var(--border);
}
.table:last-child {
    border-bottom: none;
}
.table:hover {
    background: var(--hover-white);
}
.income-sign {
    background: var(--green-light);
    color: var(--green1);
    padding: 4px 9px;
    border-radius: 12px;
}
.expense-sign {
    background: var(--purple-light);
    color: var(--purple1);
    padding: 4px 9px;
    border-radius: 12px;
}
.income-amount { 
  color: var(--green1);
  font-weight: 600;
}
.expense-amount { 
  color: var(--purple1);
  font-weight: 600;
}


@media screen and (min-width: 1000px) {
  main {
    max-width: 50%;
  }
  .stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    grid-template-areas: 
    'income-card expenses-result-card analyse-card';
  }
  .stats-grid .income-card {
    grid-area: income-card;
  }
  .stats-grid .expenses-result-card {
    grid-area: expenses-result-card;
  }
  .stats-card .analyse-card {
    grid-area: analyse-card;
  }
  .analyse {
  max-width: 90%;
  }
.table-header,
.table {
    grid-template-columns: 1fr 1fr 1fr 3fr;
    gap: 10px;
    padding: 20px 10px;
}
.comments {
  font-size: 0.9rem;
}
}


/* stores.html */
.stores-container {
  background-color: var(--cards);
  padding: 20px;
  border: 1px solid var(--border);
  border-radius: 8px;
  margin-bottom: 20px;
}
.stores-container .page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stores-container h1 {
  font-size: 1.6rem;
}
.stores-container div p {
  color: var(--gray);
}
.btn-store {
  background-color: var(--gray);
  padding: 10px 15px;
  border-radius: 8px;
  color: var(--green-light);
  text-decoration: none;
}
.btn-store:hover {
  background-color: var(--black);
}
.store-list {
  border: 1px solid var(--border);
  border-radius: 8px;
  list-style-type: none;
  align-self: center;
  /* width: 100%; */
  margin: 0;
  padding: 0;
}
.store-list .store-item {
  padding: 20px;
  border: 1px solid var(--border);

}
.store-list .store-item .store {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.store-list .store-item span a {
  text-decoration: none;
}
.btn-delete {
  background-color: var(--purple-light);
  color: var(--purple1);
}